In [67]:
import pandas as pd
import datetime as dt
from pandas.tseries import offsets

datetime basics:

In [5]:
bday = dt.date(2020, 4, 1)

In [8]:
bday.day

1

In [9]:
bday = dt.datetime(2020, 4, 1)  # defaults to midnight

In [10]:
str(bday)

'2020-04-01 00:00:00'

In [13]:
pd.Timestamp("April 1st 2020")
pd.Timestamp("2020/4/1 6:30 pm") # it will default to month-day-year if both <13

Timestamp('2020-04-01 18:30:00')

In [15]:
dates = pd.Series(["Today", "April 1 2020", "2020/05/01", "Hello"])

In [19]:
pd.to_datetime(dates, errors= "coerce")

0          NaT
1   2020-04-01
2   2020-05-01
3          NaT
dtype: datetime64[ns]

In [28]:
pd.date_range(start = "2020-01-01", end = "2020-01-31" )
pd.date_range(start = "2020-01-01", end = "2020-01-02", freq = "H" )
pd.date_range(start = "2020-01-01", periods = 31, freq = "W-Mon" )
pd.date_range(end = "2020-01-01", periods = 31, freq = "W-Mon" )

DatetimeIndex(['2019-06-03', '2019-06-10', '2019-06-17', '2019-06-24',
               '2019-07-01', '2019-07-08', '2019-07-15', '2019-07-22',
               '2019-07-29', '2019-08-05', '2019-08-12', '2019-08-19',
               '2019-08-26', '2019-09-02', '2019-09-09', '2019-09-16',
               '2019-09-23', '2019-09-30', '2019-10-07', '2019-10-14',
               '2019-10-21', '2019-10-28', '2019-11-04', '2019-11-11',
               '2019-11-18', '2019-11-25', '2019-12-02', '2019-12-09',
               '2019-12-16', '2019-12-23', '2019-12-30'],
              dtype='datetime64[ns]', freq='W-MON')

In [31]:
s = pd.Series(pd.date_range(start = "2020-01-01", end = "2020-01-31" ))

In [34]:
# .dt functions like .str does
s.dt.weekday

0     2
1     3
2     4
3     5
4     6
5     0
6     1
7     2
8     3
9     4
10    5
11    6
12    0
13    1
14    2
15    3
16    4
17    5
18    6
19    0
20    1
21    2
22    3
23    4
24    5
25    6
26    0
27    1
28    2
29    3
30    4
dtype: int64

In [50]:
s = pd.DataFrame(pd.date_range(start = "2020-01-01", end = "2020-01-31" ))
s[1] = s[0].dt.day_name()
s.set_index(0, inplace = True)
s

                    1
0
2020-01-01  Wednesday
2020-01-02   Thursday
2020-01-03     Friday
2020-01-04   Saturday
2020-01-05     Sunday
2020-01-06     Monday
2020-01-07    Tuesday
2020-01-08  Wednesday
2020-01-09   Thursday
2020-01-10     Friday
2020-01-11   Saturday
2020-01-12     Sunday
2020-01-13     Monday
2020-01-14    Tuesday
2020-01-15  Wednesday
2020-01-16   Thursday
2020-01-17     Friday
2020-01-18   Saturday
2020-01-19     Sunday
2020-01-20     Monday
2020-01-21    Tuesday
2020-01-22  Wednesday
2020-01-23   Thursday
2020-01-24     Friday
2020-01-25   Saturday
2020-01-26     Sunday
2020-01-27     Monday
2020-01-28    Tuesday
2020-01-29  Wednesday
2020-01-30   Thursday
2020-01-31     Friday

In [53]:
s.loc["2020-01-27"]
# passing a list requires Timestamp
s.loc[[pd.Timestamp("2020-01-27"),pd.Timestamp("2020-01-29")]]

                    1
0
2020-01-27     Monday
2020-01-29  Wednesday

In [54]:
s.truncate(before = "2020-01-20", after = "2020-01-29")

                    1
0
2020-01-20     Monday
2020-01-21    Tuesday
2020-01-22  Wednesday
2020-01-23   Thursday
2020-01-24     Friday
2020-01-25   Saturday
2020-01-26     Sunday
2020-01-27     Monday
2020-01-28    Tuesday
2020-01-29  Wednesday

In [56]:
# account for leap years:
pd.date_range(start = "1992-04-01", end = "2020-12-13", freq =  pd.DateOffset(years = 1) ) 
# dataframe.index.isin(mask) will pull all dates in the mask

DatetimeIndex(['1992-04-01', '1993-04-01', '1994-04-01', '1995-04-01',
               '1996-04-01', '1997-04-01', '1998-04-01', '1999-04-01',
               '2000-04-01', '2001-04-01', '2002-04-01', '2003-04-01',
               '2004-04-01', '2005-04-01', '2006-04-01', '2007-04-01',
               '2008-04-01', '2009-04-01', '2010-04-01', '2011-04-01',
               '2012-04-01', '2013-04-01', '2014-04-01', '2015-04-01',
               '2016-04-01', '2017-04-01', '2018-04-01', '2019-04-01',
               '2020-04-01'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [58]:
pd.date_range(start = "1992-04-01", end = "2020-12-13", freq =  pd.DateOffset(years = 1) ) + pd.DateOffset(days =1,months = 1)

DatetimeIndex(['1992-05-02', '1993-05-02', '1994-05-02', '1995-05-02',
               '1996-05-02', '1997-05-02', '1998-05-02', '1999-05-02',
               '2000-05-02', '2001-05-02', '2002-05-02', '2003-05-02',
               '2004-05-02', '2005-05-02', '2006-05-02', '2007-05-02',
               '2008-05-02', '2009-05-02', '2010-05-02', '2011-05-02',
               '2012-05-02', '2013-05-02', '2014-05-02', '2015-05-02',
               '2016-05-02', '2017-05-02', '2018-05-02', '2019-05-02',
               '2020-05-02'],
              dtype='datetime64[ns]', freq=None)

In [59]:
pd.Timestamp("2020-07-23")-pd.Timestamp("1992-04-01")

Timedelta('10340 days 00:00:00')

In [70]:
pd.date_range(start = "2020-01-01", end = "2020-12-31") + offsets.MonthEnd()
# this does bump the last day of each month to the end of the next month

DatetimeIndex(['2020-01-31', '2020-01-31', '2020-01-31', '2020-01-31',
               '2020-01-31', '2020-01-31', '2020-01-31', '2020-01-31',
               '2020-01-31', '2020-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-31'],
              dtype='datetime64[ns]', length=366, freq='D')

In [71]:
pd.date_range(start = "2020-01-01", end = "2020-12-31") + offsets.BMonthEnd()
# last business day, but same bump issue

DatetimeIndex(['2020-01-31', '2020-01-31', '2020-01-31', '2020-01-31',
               '2020-01-31', '2020-01-31', '2020-01-31', '2020-01-31',
               '2020-01-31', '2020-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-29'],
              dtype='datetime64[ns]', length=366, freq='D')

In [74]:
pd.Timedelta(days= 300, hours = 13, minutes =5 , seconds = 13)
# you cannot input months or weeks because their length is ill-defined

Timedelta('300 days 13:05:13')

In [ ]:
#df["columnA"] - df["columnB"] :this easy if both datetimes