In [3]:
import pandas as pd

In [10]:
# pass a URL to read_csv:
url = "https://data.cityofnewyork.us/api/views/tg4x-b46p/rows.csv?accessType=DOWNLOAD"
df = pd.read_csv(url, usecols  = ["StartDateTime", "EndDateTime", "Borough", "Category", "ZipCode(s)"])

In [11]:
df

,StartDateTime,EndDateTime,Borough,Category,ZipCode(s)
0,10/19/2018 02:00:00 PM,10/20/2018 04:00:00 AM,Manhattan,Television,10012
1,10/19/2018 02:00:00 PM,10/20/2018 02:00:00 AM,Manhattan,Film,"10034, 10463"
2,10/30/2014 07:00:00 AM,10/31/2014 02:00:00 AM,Queens,Television,11378
3,10/20/2018 07:00:00 AM,10/20/2018 06:00:00 PM,Brooklyn,Still Photography,11201
4,11/16/2013 12:01:00 AM,11/17/2013 06:00:00 AM,Manhattan,Theater,"10001, 10121"
...,...,...,...,...,...
67036,03/18/2020 08:00:00 AM,03/18/2020 10:00:00 PM,Brooklyn,Television,11222
67037,08/14/2019 07:00:00 AM,08/14/2019 09:00:00 PM,Queens,Television,"11237, 11385"
67038,03/27/2019 06:00:00 AM,03/27/2019 07:00:00 PM,Brooklyn,Film,"11101, 11222, 11368, 11372"
67039,11/02/2019 12:01:00 AM,11/03/2019 07:00:00 PM,Brooklyn,Television,"10065, 10454, 11217"
67040,04/14/2019 11:00:00 AM,04/14/2019 11:59:00 PM,Manhattan,Still Photography,"10013, 11106"

In [12]:
df["Borough"].value_counts()

Manhattan        32850
Brooklyn         20624
Queens           10633
Bronx             2025
Staten Island      909
Name: Borough, dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67041 entries, 0 to 67040
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StartDateTime  67041 non-null  object
 1   EndDateTime    67041 non-null  object
 2   Borough        67041 non-null  object
 3   Category       67041 non-null  object
 4   ZipCode(s)     67027 non-null  object
dtypes: object(5)
memory usage: 2.6+ MB

In [25]:
df["ZipCode(s)"].explode()

0                             10012
1                      10034, 10463
2                             11378
3                             11201
4                      10001, 10121
                    ...
67036                         11222
67037                  11237, 11385
67038    11101, 11222, 11368, 11372
67039           10065, 10454, 11217
67040                  10013, 11106
Name: ZipCode(s), Length: 67041, dtype: object

In [51]:
df["ZipCode(s)"] = df["ZipCode(s)"].astype(str)
slist =[]
for x in df["ZipCode(s)"]:
    for zip in x.split(","):
        slist.append(zip.strip())
zips = pd.Series(slist)

In [52]:
zips.value_counts()

11222    7976
11101    6111
10036    4413
10019    4163
10001    3378
         ...
10151       2
10080       1
10162       1
10153       1
10123       1
Length: 231, dtype: int64

Writing to a csv:

In [54]:
# df.to_csv("filename.csv", index =False, columns = [...)
# df.to_csv("permits.csv")

Reading from Excel Files:

In [55]:
# need to install xlrd and dependencies 
# pd.read_excel(".....xlsx", sheet_name = "sheet1")
# passing sheet_name a list, or None will create a dictionary

Writing to Excel Files:

In [56]:
# writeobject = pd.ExcelWriter("....xslx")                   set up writer object
# df1.to_excel(writeobject, sheet_name = "Sheet1"....)       create sheet 1
# df2.to_excel(writeobject, sheet_name = "Sheet2"....)       create sheet 2
# writeobject.save()                                         file is created

Options:

In [109]:
# example: 
pd.options.display.max_rows
# pd.options.display.max_rows = 50   to change it
pd.get_option("max_rows")
# pd.set_option("max_rows", 50)
# pd.reset_option("max_rows")
# pd.describe_option("max_rows")

60

In [110]:
pd.get_option("precision")
# set and reset like any other option
# doesn't modify data, just the visualization of it

6