In [2]:
import pandas as pd

In [3]:
fruits = ["apple", "banana", "cherry"]
pd.Series(fruits)

0     apple
1    banana
2    cherry
dtype: object

In [6]:
my_car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1967
}
car = pd.Series(my_car)

In [11]:
numbers = pd.Series([1,3,1.5, -5])
numbers.mean()

0.125

In [12]:
days = ["Monday", "Wednesday", "Friday"]
pd.Series(fruits, days)

Monday        apple
Wednesday    banana
Friday       cherry
dtype: object

In [20]:
# cummulative COVID data for U.S.
coviddf = pd.read_csv("us.covid.csv")
coviddf

           date    cases  deaths
0    2020-01-21        1       0
1    2020-01-22        1       0
2    2020-01-23        1       0
3    2020-01-24        2       0
4    2020-01-25        3       0
..          ...      ...     ...
175  2020-07-14  3445483  136356
176  2020-07-15  3513850  137327
177  2020-07-16  3589493  138284
178  2020-07-17  3660324  139186
179  2020-07-18  3722722  139961

[180 rows x 3 columns]

In [28]:
death_ser =  pd.Series(coviddf["deaths"].values, index=coviddf["date"])
death_ser

date
2020-01-21         0
2020-01-22         0
2020-01-23         0
2020-01-24         0
2020-01-25         0
               ...
2020-07-14    136356
2020-07-15    137327
2020-07-16    138284
2020-07-17    139186
2020-07-18    139961
Length: 180, dtype: int64

In [31]:
list(death_ser)
dict(death_ser)

{'2020-01-21': 0,
 '2020-01-22': 0,
 '2020-01-23': 0,
 '2020-01-24': 0,
 '2020-01-25': 0,
 '2020-01-26': 0,
 '2020-01-27': 0,
 '2020-01-28': 0,
 '2020-01-29': 0,
 '2020-01-30': 0,
 '2020-01-31': 0,
 '2020-02-01': 0,
 '2020-02-02': 0,
 '2020-02-03': 0,
 '2020-02-04': 0,
 '2020-02-05': 0,
 '2020-02-06': 0,
 '2020-02-07': 0,
 '2020-02-08': 0,
 '2020-02-09': 0,
 '2020-02-10': 0,
 '2020-02-11': 0,
 '2020-02-12': 0,
 '2020-02-13': 0,
 '2020-02-14': 0,
 '2020-02-15': 0,
 '2020-02-16': 0,
 '2020-02-17': 0,
 '2020-02-18': 0,
 '2020-02-19': 0,
 '2020-02-20': 0,
 '2020-02-21': 0,
 '2020-02-22': 0,
 '2020-02-23': 0,
 '2020-02-24': 0,
 '2020-02-25': 0,
 '2020-02-26': 0,
 '2020-02-27': 0,
 '2020-02-28': 0,
 '2020-02-29': 1,
 '2020-03-01': 3,
 '2020-03-02': 6,
 '2020-03-03': 10,
 '2020-03-04': 12,
 '2020-03-05': 12,
 '2020-03-06': 15,
 '2020-03-07': 19,
 '2020-03-08': 22,
 '2020-03-09': 26,
 '2020-03-10': 31,
 '2020-03-11': 37,
 '2020-03-12': 43,
 '2020-03-13': 50,
 '2020-03-14': 60,
 '2020-03-15': 68,
 '2020-03-16': 91,
 '2020-03-17': 117,
 '2020-03-18': 162,
 '2020-03-19': 212,
 '2020-03-20': 277,
 '2020-03-21': 360,
 '2020-03-22': 458,
 '2020-03-23': 579,
 '2020-03-24': 785,
 '2020-03-25': 1054,
 '2020-03-26': 1353,
 '2020-03-27': 1770,
 '2020-03-28': 2300,
 '2020-03-29': 2718,
 '2020-03-30': 3368,
 '2020-03-31': 4304,
 '2020-04-01': 5325,
 '2020-04-02': 6541,
 '2020-04-03': 7932,
 '2020-04-04': 9488,
 '2020-04-05': 10856,
 '2020-04-06': 12382,
 '2020-04-07': 14616,
 '2020-04-08': 16701,
 '2020-04-09': 18821,
 '2020-04-10': 21084,
 '2020-04-11': 23168,
 '2020-04-12': 24849,
 '2020-04-13': 26613,
 '2020-04-14': 29318,
 '2020-04-15': 32070,
 '2020-04-16': 34418,
 '2020-04-17': 36707,
 '2020-04-18': 38659,
 '2020-04-19': 40179,
 '2020-04-20': 42016,
 '2020-04-21': 44688,
 '2020-04-22': 47059,
 '2020-04-23': 49228,
 '2020-04-24': 51360,
 '2020-04-25': 53326,
 '2020-04-26': 54580,
 '2020-04-27': 56022,
 '2020-04-28': 58416,
 '2020-04-29': 60930,
 '2020-04-30': 63140,
 '2020-05-01': 64902,
 '2020-05-02': 66485,
 '2020-05-03': 67816,
 '2020-05-04': 68905,
 '2020-05-05': 71139,
 '2020-05-06': 73847,
 '2020-05-07': 75805,
 '2020-05-08': 77380,
 '2020-05-09': 78834,
 '2020-05-10': 79765,
 '2020-05-11': 80747,
 '2020-05-12': 82400,
 '2020-05-13': 84168,
 '2020-05-14': 85906,
 '2020-05-15': 87499,
 '2020-05-16': 88724,
 '2020-05-17': 89568,
 '2020-05-18': 90414,
 '2020-05-19': 91934,
 '2020-05-20': 93411,
 '2020-05-21': 94722,
 '2020-05-22': 96010,
 '2020-05-23': 97060,
 '2020-05-24': 97680,
 '2020-05-25': 98190,
 '2020-05-26': 98937,
 '2020-05-27': 100422,
 '2020-05-28': 101622,
 '2020-05-29': 102812,
 '2020-05-30': 103775,
 '2020-05-31': 104379,
 '2020-06-01': 105113,
 '2020-06-02': 106195,
 '2020-06-03': 107184,
 '2020-06-04': 108192,
 '2020-06-05': 109304,
 '2020-06-06': 110032,
 '2020-06-07': 110422,
 '2020-06-08': 111144,
 '2020-06-09': 112174,
 '2020-06-10': 113103,
 '2020-06-11': 113980,
 '2020-06-12': 114758,
 '2020-06-13': 115451,
 '2020-06-14': 115768,
 '2020-06-15': 116216,
 '2020-06-16': 116985,
 '2020-06-17': 117746,
 '2020-06-18': 118473,
 '2020-06-19': 119171,
 '2020-06-20': 119717,
 '2020-06-21': 119974,
 '2020-06-22': 120334,
 '2020-06-23': 121167,
 '2020-06-24': 121934,
 '2020-06-25': 124400,
 '2020-06-26': 125033,
 '2020-06-27': 125544,
 '2020-06-28': 125814,
 '2020-06-29': 126161,
 '2020-06-30': 127461,
 '2020-07-01': 128103,
 '2020-07-02': 128826,
 '2020-07-03': 129415,
 '2020-07-04': 129679,
 '2020-07-05': 129941,
 '2020-07-06': 130332,
 '2020-07-07': 131289,
 '2020-07-08': 132237,
 '2020-07-09': 133079,
 '2020-07-10': 133907,
 '2020-07-11': 134582,
 '2020-07-12': 134977,
 '2020-07-13': 135402,
 '2020-07-14': 136356,
 '2020-07-15': 137327,
 '2020-07-16': 138284,
 '2020-07-17': 139186,
 '2020-07-18': 139961}

In [37]:
print(death_ser.dtype)
print(death_ser.is_unique)
print(death_ser.ndim)
print(death_ser.shape)
print(death_ser.name)

int64
False
1
(180,)
None

In [39]:
death_ser.sort_values(ascending=False)

date
2020-07-18    139961
2020-07-17    139186
2020-07-16    138284
2020-07-15    137327
2020-07-14    136356
               ...
2020-02-16         0
2020-02-15         0
2020-02-14         0
2020-02-13         0
2020-01-21         0
Length: 180, dtype: int64

In [56]:
print(136356 in death_ser.index)
print(136356 in death_ser.values)

False
True

In [57]:
death_ser['2020-04-01':'2020-04-08':2]

date
2020-04-01     5325
2020-04-03     7932
2020-04-05    10856
2020-04-07    14616
dtype: int64

In [60]:
print(death_ser.get('2020-04-01'))
print(death_ser.get('April 1st', 'no luck'))
print(death_ser.get(['2020-04-01','April 1st'], 'no luck'))

5325
no luck
no luck

In [64]:
# count doesnt count nan, len will
death_ser.describe()

count       180.000000
mean      53377.255556
std       52772.897080
min           0.000000
25%          14.250000
50%       41097.500000
75%      107436.000000
max      139961.000000
dtype: float64

In [65]:
death_ser.idxmax()

'2020-07-18'

In [66]:
death_ser.value_counts()

0         39
12         2
53326      1
108192     1
1353       1
          ..
119171     1
107184     1
139186     1
66485      1
125814     1
Length: 141, dtype: int64

In [69]:
death_ser.apply(lambda death : death**1/2)

date
2020-01-21        0.0
2020-01-22        0.0
2020-01-23        0.0
2020-01-24        0.0
2020-01-25        0.0
               ...
2020-07-14    68178.0
2020-07-15    68663.5
2020-07-16    69142.0
2020-07-17    69593.0
2020-07-18    69980.5
Length: 180, dtype: float64

In [83]:
death_ser.map({139961:'uno', 139186:'dos'})

date
2020-01-21    NaN
2020-01-22    NaN
2020-01-23    NaN
2020-01-24    NaN
2020-01-25    NaN
             ...
2020-07-14    NaN
2020-07-15    NaN
2020-07-16    NaN
2020-07-17    dos
2020-07-18    uno
Length: 180, dtype: object