In [2]:
import pandas as pd
import datetime as dt

datetime basics:

In [5]:
bday = dt.date(2020, 4, 1)

In [8]:
bday.day

1

In [9]:
bday = dt.datetime(2020, 4, 1)  # defaults to midnight

In [10]:
str(bday)

'2020-04-01 00:00:00'

In [13]:
pd.Timestamp("April 1st 2020")
pd.Timestamp("2020/4/1 6:30 pm") # it will default to month-day-year if both <13

Timestamp('2020-04-01 18:30:00')

In [15]:
dates = pd.Series(["Today", "April 1 2020", "2020/05/01", "Hello"])

In [19]:
pd.to_datetime(dates, errors= "coerce")

0          NaT
1   2020-04-01
2   2020-05-01
3          NaT
dtype: datetime64[ns]

In [28]:
pd.date_range(start = "2020-01-01", end = "2020-01-31" )
pd.date_range(start = "2020-01-01", end = "2020-01-02", freq = "H" )
pd.date_range(start = "2020-01-01", periods = 31, freq = "W-Mon" )
pd.date_range(end = "2020-01-01", periods = 31, freq = "W-Mon" )

DatetimeIndex(['2019-06-03', '2019-06-10', '2019-06-17', '2019-06-24',
               '2019-07-01', '2019-07-08', '2019-07-15', '2019-07-22',
               '2019-07-29', '2019-08-05', '2019-08-12', '2019-08-19',
               '2019-08-26', '2019-09-02', '2019-09-09', '2019-09-16',
               '2019-09-23', '2019-09-30', '2019-10-07', '2019-10-14',
               '2019-10-21', '2019-10-28', '2019-11-04', '2019-11-11',
               '2019-11-18', '2019-11-25', '2019-12-02', '2019-12-09',
               '2019-12-16', '2019-12-23', '2019-12-30'],
              dtype='datetime64[ns]', freq='W-MON')

In [31]:
s = pd.Series(pd.date_range(start = "2020-01-01", end = "2020-01-31" ))

In [34]:
# .dt functions like .str does
s.dt.weekday

0     2
1     3
2     4
3     5
4     6
5     0
6     1
7     2
8     3
9     4
10    5
11    6
12    0
13    1
14    2
15    3
16    4
17    5
18    6
19    0
20    1
21    2
22    3
23    4
24    5
25    6
26    0
27    1
28    2
29    3
30    4
dtype: int64

In [36]:
s["Day"] = s.dt.weekday